{% if page.categories and page.categories != empty %}
  <nav class="breadcrumbs" aria-label="Breadcrumb">
    <ol itemscope itemtype="https://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a itemprop="item" href="{{ site.url }}">
          <span itemprop="name">Home</span>
        </a>
        <meta itemprop="position" content="1" />
      </li>
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a itemprop="item" href="{{ site.url }}/{{ page.categories | first }}/">
          <span itemprop="name">{{ page.categories | first | replace: '-',' ' | capitalize }}</span>
        </a>
        <meta itemprop="position" content="2" />
      </li>
    </ol>
  </nav><!-- /.breadcrumbs -->
{% endif %}